* {
  margin: 0;
  padding: 0;
}

#ticket {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(60%, -50%);
          transform: translate(60%, -50%);
}

#yhotel {
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

#zzang {
  left: 0;
  top: 0;
  -webkit-transform: translate(-37%, 10%);
          transform: translate(-37%, 10%);
}

#heart {
  right: 0;
  top: 0;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
}

@media (max-width: 768px) {
  #yhotel,
  #ticket,
  #zzang,
  #heart {
    display: none;
  }
}

.section {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec1 {
  background-image: url(../images/bg/bg_01.jpg);
}

.sec2 {
  height: 48vw;
  background-color: pink;
}

.wrap .sec2 .container-lg h4 {
  line-height: 8vw;
}

.wrap .sec2 .container-lg .row .cuponbox {
  background-color: white;
  border: 3px solid black;
  border-radius: 30px;
  height: 200px;
}

.wrap .sec2 .container-lg .row .cuponbox .tr {
  color: #ff0095;
  font-size: 12px;
}

.wrap .sec2 .container-lg .row .cuponbox .middlef {
  color: #ff0095;
  font-size: 20px;
  font-weight: 600;
}

.wrap .sec2 .container-lg .row .cuponbox .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff0095;
  font-size: 50px;
  font-weight: 900;
}

.wrap .sec2 .container-lg .row .cuponbox .benefit p {
  font-family: 'GL';
  font-weight: 100;
}

.wrap .sec2 .container-lg .row .cuponbox .trb {
  color: #2db2ff;
  font-size: 12px;
}

.wrap .sec2 .container-lg .row .cuponbox .middlefb {
  color: #2db2ff;
  font-size: 20px;
  font-weight: 600;
}

.wrap .sec2 .container-lg .row .cuponbox .benefitb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2db2ff;
  font-size: 50px;
  font-weight: 900;
}

.wrap .sec2 .container-lg .row .cuponbox .benefitb p {
  font-family: 'GL';
  font-weight: 100;
}

.wrap .sec2 .container-lg .row .cuponbox img {
  max-width: 130px;
}

.cupon:before {
  content: "";
  position: absolute;
  width: 94%;
  height: 200px;
  border: 3px solid black;
  border-radius: 30px;
  top: 5%;
  left: 5%;
}

.cb1:before {
  background-color: #ff0095;
}

.cb2:before {
  background-color: #2db2ff;
}
